body {
  box-sizing: border-box;
  margin: 0px;
  background-color: #303030;
  color: #fff;
}

nav {
  display: flex;
  text-align: center;
  background-color: #6441a5;
  padding-top: 20px;
  justify-content: space-evenly;
}

#main {
  padding: 10px;
}

nav,
#component-title {
  padding-bottom: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

#bot-button {
  width: 80px;
}

.red-text {
  color: red;
}
